@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*
{
    box-sizing: border-box;
}
body
{
    font-family:"Inter" , sans-serif;
    font-size: 16px;
}
a{text-decoration: none;}
h1,h2,h3,h4,h5,p{
    color: #000;
    padding-bottom: 30px;
}
.big-text{font-size: 70px; font-weight: 900; color:white;}
.med-text{font-size: 40px;}
.normal-text{font-size: 20px;}
.intro-text{text-transform: uppercase; font-size: 20px; font-weight: bold; color:white;}
.small-text{font-size:14px}
.button
{
    margin-top: 10px;
    padding:18px 20px;
    background-color: #fc8b18;
    color:#fff;
    border-radius: 4px;
    display: inline-block;
}
.header
{
    display: flex;
    width: 100%;
    position:fixed; /*! se scrollo rimane sempre fermo*/
    top:0;
    left: 50%;
    transform: translateX(-50%);
    padding:30px;
    max-width: 1350px;
}

.contea-logo
{
    width: 75px;
    height: 75px;
}

.menu
{
    width: 100%;
}
.menu li
{    
    display: inline-block;
}
.menu li a
{
    font-size: 20px;
    padding : 15px;
    display:block;
    color:white;
    font-weight: 800;
}
.hamburger {display:none}
@media (max-width: 760px)
{
    .cta{display: none;}
    .menu {position:absolute; top:0;right:-100%;background:black; height: 100vh;padding-top: 80px;}
    .menu li{display: block;}
    .menu--open{right:0%;}
    .hamburger {
        display:block;
        width:30px;
        height:30px;
        position: absolute;
        top: 40px;
        right: 30px;
    }
    .hamburger span
    {
        background: #fff;
        height:3px;
        width: 100%;
        display: block;
        margin-bottom: 5px;
    }
}
.hero
{
    display:inline-block;
    height: 600px;
    display: flex; width: 100%;align-items: center;
    background:url('screen.PNG') no-repeat center center;
    background-size: cover;
}
.hero__content
{
    padding: 30px;
    width:100%;
    max-width: 1350px;
    margin: 0 auto; /*per centrare l'elemento*/
}






















*,
*:before,
*:after{
 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;  

}